<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="wid.Properties.Settings.MainAppDatabase" connectionString="Data Source=qtdenvmap193;Initial Catalog=ProjectRepository;Persist Security Info=True;User ID=NSE;Password=f163r0n"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>